<h1>Homework 2</h1>
In this notebook there are the activities related to the second homework and, as with the first homework, feel free to use the web to find the solutions to any of these problems. Also, the bonus questions are not mandatory but, if you happen to have the time, try them out too!<br>

<h1>numpy</h1>
Exercise 1: show that now you can import libraries by importing pandas, numpy and matplotlib.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Exercise 2: Will the following code block work?

In [3]:
# This creates a 3x3 array of random numbers ranging from 0 to 1
array1 = np.random.random((3, 3))
array2 = np.random.random((3, 1))

np.add(array1,array2)

array([[1.32014601, 1.04386202, 1.41649821],
       [0.53059394, 0.25970724, 0.52516084],
       [1.13813364, 0.9939699 , 1.0351545 ]])

Exercise 3: What about now?

In [5]:
# This creates a 3x3 array of random numbers ranging from 0 to 1
array3 = np.random.random((3, 3))
array4 = np.random.random((3, 2))

np.add(array3,array4)

ValueError: operands could not be broadcast together with shapes (3,3) (3,2)

Exercise 4: by inspecting the arrays 1 to 4 can you figure out why one operation worked and another one didn't? (hint: check their values and shape)

In [ ]:
operands could not be broadcast together with shapes (3,3) (3,2)

Exercise 5: Using the function to create an array of random numbers [np.random.random](https://numpy.org/doc/stable/reference/random/generated/numpy.random.random.html) how can you modify the code (as in the cells above) so that the numbers will vary between 0 and 100 instead of 0 and 1? And how can you modify the shape of the function?

In [25]:
array5 = np.random.random((3, 3)) * 100
array6 = np.random.random((3, 1)) * 100

np.add(array5,array6)

array([[101.62131363,  98.0079297 , 137.1716591 ],
       [ 76.44452492,  99.80391763,  75.09291383],
       [120.09127939, 104.39820627, 133.49632427]])

Exercise 6: Using the array defined on the exercise above, use [np.where](https://numpy.org/doc/stable/reference/generated/numpy.where.html) to find the positions the values that are larger than 50 (or feel free to pick any other number).

<h1>Pandas </h1>
There are two datasets on available to this work one is the pokemon dataset we explored in the lectured and the other one is the same dataframe but, for the sake of a nice story, let us say it was sabotaged by team rocket.

Exercise 1: open both dataframes supplied using [pd.read_csv](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) (and don't forget to assign them to different objects).

In [14]:
Pokemon_sabotage_df = pd.read_csv("Pokemon_sabotage.csv")

Exercise 2: Using [pd.isna](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isna.html) check how many missing numbers are in each dataframe.

In [15]:
Pokemon_sabotage_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45.0,49,49.0,65,65.0,45.0,1,False
1,2,Ivysaur,Grass,Poison,405,60.0,62,63.0,80,80.0,60.0,1,False
2,3,Venusaur,Grass,Poison,525,80.0,82,83.0,100,100.0,80.0,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80.0,100,123.0,122,120.0,80.0,1,False
4,4,Charmander,Fire,NaN,309,39.0,52,43.0,60,50.0,65.0,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50.0,100,150.0,100,150.0,50.0,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50.0,160,110.0,160,110.0,110.0,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80.0,110,60.0,150,130.0,70.0,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80.0,160,60.0,170,130.0,80.0,6,True
799,721,Volcanion,Fire,Water,600,80.0,110,120.0,130,90.0,70.0,6,True

In [16]:
Pokemon_sabotage_df.isna().sum()

#               0
Name            2
Type 1          1
Type 2        387
Total           0
HP              3
Attack          0
Defense         1
Sp. Atk         0
Sp. Def         1
Speed           4
Generation      0
Legendary       0
dtype: int64

Exercise 3: Two of the main ways to deal with missing data is [pd.dropna](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html) and [pd.fillna](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html). How are these methods different from each other in how they deal with the missing data? Which, if any, would you use on the dataset? Why?

In [17]:
#PREFER pd.fillna as it only affects the missing data.
#pd.dropna will disrupt to much data

Pokemon_sabotage_df.fillna(0)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45.0,49,49.0,65,65.0,45.0,1,False
1,2,Ivysaur,Grass,Poison,405,60.0,62,63.0,80,80.0,60.0,1,False
2,3,Venusaur,Grass,Poison,525,80.0,82,83.0,100,100.0,80.0,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80.0,100,123.0,122,120.0,80.0,1,False
4,4,Charmander,Fire,0,309,39.0,52,43.0,60,50.0,65.0,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50.0,100,150.0,100,150.0,50.0,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50.0,160,110.0,160,110.0,110.0,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80.0,110,60.0,150,130.0,70.0,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80.0,160,60.0,170,130.0,80.0,6,True
799,721,Volcanion,Fire,Water,600,80.0,110,120.0,130,90.0,70.0,6,True

From now on we will only be working with the main (non sabotaged dataframe).<br>

Exercise 4: to free up memory delete the sabotaged dataframe. Bonus: before deleting find a way to check how much space in memory the dataframes occupy. [hint](https://stackoverflow.com/questions/449560/how-do-i-determine-the-size-of-an-object-in-python)

In [36]:
import sys
sys.getsizeof(Pokemon_sabotage_df)

199279

In [57]:
sys.getsizeof()

TypeError: getsizeof() missing required argument 'object' (pos 1)

In [50]:
del Pokemon_sabotage_df

Exercise 5: Create a new column that contains the sum of the Attack, speed and defense stats.

In [54]:
Pokemon_df = pd.read_csv("Pokemon.csv")
Pokemon_df['Combined Stats'] = Pokemon_df['Sp. Atk'] + Pokemon_df['Defense']

In [55]:
Pokemon_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Combined Stats
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,114
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,143
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,183
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,245
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,250
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,270
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,210
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,230
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,250

Exercise 6: Find out the mean value of the attack, speed, defense columns and the new column that was created above.

In [60]:
Pokemon_df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Combined Stats
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000,800.000000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375,146.662500
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129,49.993753
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000,20.000000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000,108.750000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000,143.000000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000,180.000000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000,310.000000

Exercise 7: Find out how many pokemon have above average stats in the attack, speed, defense and the new column. Bonus: Do the pokemon with above average stats have a preffered type?

Super bonus: There are many platforms out there that contain different tools to boost your learning. Then for the super bonus create an account on [kaggle](https://www.kaggle.com/) and complete the courses
[intro to programming](https://www.kaggle.com/learn/intro-to-programming) and [intro to python](https://www.kaggle.com/learn/python) courses. All kaggle courses are free of charge and offer a [certificate](https://www.kaggle.com/learn-course-certificates) !